<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/static/images/fav.png"
      type="image/x-icon"
    />
    <title>Bro Pann's Garufurendo</title>
  </head>
  <style>
    body {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      display: flex;
      height: 100vh;
      justify-content: center;
      background-image: url('/static/images/background.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    h1 {
      align-self: center;
      color: aliceblue;
    }
  </style>
  <body>
    <h1>Konichiwa!</h1>
  </body>
</html>
